{{ partial "header.html" .}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}
    <header class="masthead" style="background-image: url('/{{ .Params.image }}')">
    {{ else }}
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    {{ end }}
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>{{ .Site.Title }}</h1>
              {{ with .Site.Params.Description }}
              <span class="subheading">{{ . }}</span>
              {{ end }}
              <span class="meta">
                {{ partial "meta.html" .}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                  {{ .Content }}
            </div>
        </div>
    </article>
    {{ partial "comments.html" .}}
{{ partial "footer.html" .}}
