{{ partial "header.html" . }}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ .Title }}</h1>
          <hr class="small">
          <span class="subheading">{{ .Title }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    <div class="col-xs-12 col-md-3">
      <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}" class="btn text-nowrap" role="button">
        {{$value.Name | lower }}
        <span class="badge bg-secondary text-white">
          {{ $value.Count }}
        </span>
      </a>
    </div>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}